$primary-font: Montserrat, sans-serif;


$primary-gray: #8DAABA;

$primary-red: #F74356;
$primary-red-dark: #ab0719;

$primary-blue: #64C2EC;
$secondary-blue: #BAE1F2;
$primary-blue-dark: #13749f;

$primary-green: #4CAF50;
$primary-green-dark: #275929;

$background-color: #FFFFFF;

$border-color: #1d2930;