<div class="matched-user">
    <h2>{{name}}</h2>
    <button onclick="document.getElementById('removePopup').style.display='block'">❌</button>
    <ul class="matchList-user-c-showList">
        {{#each favShows}}
            <li class="matchList-user-c-show">
                <img src="https://static.episodate.com/images/tv-show/thumbnail/{{this}}.jpg">
            </li>
        {{/each}}
    </ul>
</div>
<div id="removePopup" class="confirmUnmatch">
  <span onclick="document.getElementById('removePopup').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="removePopup-content" action="/removeUser">
    <div class="popupContainer">
      <h1>Unmatch user</h1>
      <p>Are you sure you want unmatch with {{name}}?</p>

      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="button" class="deletebtn">Delete</button>
      </div>
    </div>
  </form>
</div>