<div class="matched-user">
    <h2>{{name}}</h2>
    <ul class="matchList-user-c-showList">
        {{#each favShows}}
            <li class="matchList-user-c-show">{{this}}</li>
        {{/each}}
    </ul>
</div>