<div class="matched-user">
    <h2>{{name}}</h2>
    <button method'post' type="button" class="deleteBtn" id={{name}}>❌</button>
    <ul class="matchList-user-c-showList">
        {{#each favShows}}
            <li class="matchList-user-c-show">
                <img src="https://static.episodate.com/images/tv-show/thumbnail/{{this}}.jpg">
            </li>
        {{/each}}
    </ul>
    {{> unmatchPopup name=this.name person=person}}
</div>

      

