<div class="movieCardTitle">
    <label for="title">Name of the show/movie</label>
    <input required value="<%= movieCard.title %>" type="text" name="title" placeholder="e.g. Gotham S3 E14">
</div>
<div class="movieCardDescription">
    <label for="description">What is your favorite part about this movie or show, who is your favorite actor this episode or what did you notice while watching this movie?</label>
    <textarea required name="description" placeholder="e.g. Morena Baccarin acted amazing in this episode, by far my favorite. Seen this episode about 19 times"></textarea>
</div>
<div class="movieCardQuote">
    <label for="quote">My favorite quote</label>
    <input type="quote" name="quote" placeholder="e.g. All right, folks. This is very important. Whatever you do, please, definitely try this at home. Preferably on a family member. -Jerome Valeska">
</div>
<button type="submit" class="submitBtn">Save</button>