{{!-- <div id="unmatch{{name}}" class="confirmUnmatch"> --}}
  {{!-- <span class="closePopup" title="Close">❌</span>
      <div class="popupContainer">
      <h1>Unmatch user</h1>
      <p>Are you sure you want unmatch with {{name}}?</p>
      <div class="clearfix">
       <button type="button" id="cancelbtn" class="cancelbtn"> Cancel </a>
        <button type="submit" id="deletebtn" class="deletebtn">Delete</button>
      </div>
    </div> --}}
{{!-- </div> --}}


<div id="unmatch{{name}}" class="confirmUnmatch">
     <span class="closePopup" title="Close">❌</span>
     <div class="popupContainer">
      <h1>Unmatch user</h1>
      <p>Are you sure you want unmatch with {{name}}?</p>
      <div class="clearfix">
        <button type="submit" id="deletebtn" class="deletebtn">Delete</button>
      </div>
    </div>
</div>