<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NextEp</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<header>
    <img src="images/logo.png" class="logo">
    <nav></nav>
</header>
<body>
    {{{body}}}
</body>
</html>