<main class="home-l-grid">
    <section class="home-l-userContainer">
        <p>{{person}}!</p>
        <p>Are you ready to </p>
        <a href="/match/{{person}}">
            <button>Match</button>
        </a>
        <a href="/addShows/{{person}}">
            <button>Add your favorite shows to your list</button>
        </a>
    </section>
    <section class="home-l-matchList">
        <ul class="matchList-c-list">
        {{#each matches}}
            <li class="matchList-c-user">{{> matchedUser name=this.name favShows=this.favShows}}</li>
        {{/each}}
        </ul>
    </section>
</main>
