<h1>Watch Series Together</h1>

<div class="inlogcontainer">
    <form method="POST" action="/login">
        <label for="name">First name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age">
        <button type="submit">Login</button>
    </form>

</div>
