.profile-container {
    margin: auto;
    width: 50%;

    color: $primary-color;
    .person {
        display: flex;
        justify-content: center;

        .placeholder-person {
            max-width: 20em;
            border-radius: 2em;
        }
    }

    .shows{
        h2:first-child{
            margin-top: 0.8em;
            margin-bottom: 0.8em;
        }

        .show-list{
            display: flex;
            li{
                margin: 1rem;
            }
        }
    }
}