
.profile-container {
    width: 50%;
    color: $primary-color;
    @include center-horizontal;
    @include center-vertical;
    .person {
        display: flex;
        justify-content: center;

        ul{
            margin-left: 0.8rem;
            li{
                font-weight: 600;
                padding: 0.2rem;
            }
            .person-name{
                font-size: 2em;
            }
            .person-age{
                font-size: 1.2em;
            }
            .person-about{
                font-weight: 400;
            }
        }


        .placeholder-person {
            max-width: 20em;
            border-radius: 3em;
            border: 0.2em solid $primary-shade
        }
    }

    .shows{
        h2:first-child{
            margin-top: 0.8em;
            margin-bottom: 0.8em;
        }

        .show-list{
            display: flex;
            justify-content: space-around;

            li{
                width: 30%;
            }

            .show{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
        }
    }
}

.match-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 45%;
    position: absolute;
    img{
        max-width: 5rem;
        margin: 0 4rem 0 4rem;
    }
}