/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: FFFAFA;
  color: #eb2929;
}

.inlogcontainer {
  display: flex;
  justify-content: center;
}
.inlogcontainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 20em;
  background-color: #eb2929;
  align-self: center;
  color: #ffffff;
  font-weight: 700;
  padding: 4em;
  padding-top: 2em;
  font-size: large;
  border-radius: 10px;
  list-style-type: none;
}

body {
  font-family: Montserrat, sans-serif;
}

.logo {
  max-width: 10em;
  margin: 1em;
  margin-top: 0;
}

header {
  width: 100%;
  position: absolute;
}

.logo {
  position: absolute;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  padding: 1.2em;
}
nav .home-button {
  max-width: 2.5rem;
}

.inlogcontainer {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.profile-container {
  width: 50%;
  color: #2B2D42;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.profile-container .person {
  display: flex;
  justify-content: center;
}
.profile-container .person ul {
  margin-left: 0.8rem;
}
.profile-container .person ul li {
  font-weight: 600;
  padding: 0.2rem;
}
.profile-container .person ul .person-name {
  font-size: 2em;
}
.profile-container .person ul .person-age {
  font-size: 1.2em;
}
.profile-container .person ul .person-about {
  font-weight: 400;
}
.profile-container .person .placeholder-person {
  max-width: 20em;
  border-radius: 3em;
  border: 0.2em solid #8D99AE;
}
.profile-container .shows h2:first-child {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.profile-container .shows .show-list {
  display: flex;
  justify-content: space-around;
}
.profile-container .shows .show-list li {
  width: 30%;
}
.profile-container .shows .show-list .show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
