
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

*{
    background-color: FFFAFA;
    font-family: 'Montserrat', sans-serif;
}

body{
    color: rgb(235, 41, 41);
}

.inlogcontainer{
    display: flex;
    justify-content: center;
}

.inlogcontainer > form{
    background-color: rgb(235, 41, 41);
    align-self: center;
    color: #ffffff ;
    font-weight: 700;
    min-width: 50vw;
    padding: 4em;
    padding-top: 2em;
    font-size: large;
    border-radius: 10px;
}